{% extends 'colleges/home.html' %}

{% block content %}

{% load static %}

{% if messages %}
<div class="messages">
	{% for message in messages %}
		<div class="alert alert-success">{{ message }}</div>
	{% endfor %}
</div>
{% endif %}


	<div class="row row-flex">
	{% for college in colleges_copy %}			
		<div class="content col-sm-8 col-md-8 col-lg-4">
			<div class="card mx-5 my-5">
			  	<div class="card-body">
				    <h5 class="card-title">{{ college.name }}</h5>
				    <br>
				    <h6 class="card-subtitle mb-2 text-muted">Location: {{ college.location }}</h6>				    
				    <p class="card-text">Average Cost: {{ college.average_cost }} lakhs (4 years)</p>
				    <br>

			    	<a class="card-link" target="_blank" href="{{ college.website }}">View About College</a>
					
				</div>
				<!--For Admin -->
				{% if user.is_authenticated and user.is_superuser %}
					<div class="buttons"> 
						<a  href="{% url 'colleges:edit_college' college.id %}">Edit</a>
						<a href="{% url 'colleges:delete_college' college.id %}">Delete</a>
					</div>
				<!-- for User  -->
				{% else  %}
				<a href="{% url 'colleges:apply_to_college' college.id %}">
					<button type="submit" class="btn btn-primary apply-button">Apply Application Form</button>
				</a>
				{% endif %}
				
			</div>
		</div>
	{% endfor %}															
	</div> 
{% endblock %}