{% extends 'colleges/home.html' %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    .body{
		width:800px;
		padding:20px;
        margin-left: 200px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}
</style>

{% block content %}
<div class="body">
    <h3>Update College</h3>
    <form method="post" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Update College">
    </form>
</div>
{% endblock %}